@model EmployeeViewModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-gradient bg-primary ml-0 py-3" style="background-color:#161414">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Employee</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="@Model.Employee.EmployeeId" hidden />
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Employee.FirstName" class="form-control border-0 shadow" />
                    <label asp-for="@Model.Employee.FirstName" class="ms-2"></label>
                    <span asp-validation-for="@Model.Employee.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Employee.LastName" class="form-control border-0 shadow" />
                    <label asp-for="@Model.Employee.LastName" class="ms-2"></label>
                    <span asp-validation-for="@Model.Employee.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Employee.Email" class="form-control border-0 shadow" />
                    <label asp-for="@Model.Employee.Email" class="ms-2"></label>
                    <span asp-validation-for="@Model.Employee.Email" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Employee.PhoneNumber" class="form-control border-0 shadow" />
                    <label asp-for="@Model.Employee.PhoneNumber" class="ms-2"></label>
                    <span asp-validation-for="@Model.Employee.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Employee.HireDate" class="form-control border-0 shadow" />
                    <label asp-for="@Model.Employee.HireDate" class="ms-2"></label>
                    <span asp-validation-for="@Model.Employee.HireDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.Employee.JobId" asp-asp-items="@ViewBag.Regions" class="form-select border-0 shadow">
                        <option disabled selected>--Select Region</option>
                        @foreach (var region in Model.JobList)
                        {
                            <option value="@region.Value">@region.Text</option>
                        }
                    </select>
                    <label asp-for="@Model.Employee.JobId" class="ms-2"></label>
                    <span asp-validation-for="@Model.Employee.JobId"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input type="number" asp-for="@Model.Employee.Salary" class="form-control border-0 shadow" />
                    <label asp-for="@Model.Employee.Salary" class="ms-2"></label>
                    <span asp-validation-for="@Model.Employee.Salary" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.Employee.ManagerId" asp-asp-items="@ViewBag.Regions" class="form-select border-0 shadow">
                        <option disabled selected>--Select Region</option>
                        @foreach (var region in Model.EmployeeList)
                        {
                            <option value="@region.Value">@region.Text</option>
                        }
                    </select>
                    <label asp-for="@Model.Employee.ManagerId" class="ms-2"></label>
                    <span asp-validation-for="@Model.Employee.ManagerId"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.Employee.DepartmentId" asp-asp-items="@ViewBag.Regions" class="form-select border-0 shadow">
                        <option disabled selected>--Select Region</option>
                        @foreach (var region in Model.DepartmentList)
                        {
                            <option value="@region.Value">@region.Text</option>
                        }
                    </select>
                    <label asp-for="@Model.Employee.DepartmentId" class="ms-2"></label>
                    <span asp-validation-for="@Model.Employee.DepartmentId"></span>
                </div>

                <input type="hidden" name="pageIndex" value="@ViewBag.PageIndex" />

                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Dependent" asp-action="Index" asp-route-pg="@ViewBag.PageIndex" class="btn btn-outline-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

